@model coreAden.Models.Siparisler
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Sipariş Oluştur</h2>
@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger">
        Lütfen eksik veya hatalı alanları düzeltin.
    </div>
}

@section scripts {
    <script>
        $(document).ready(function () {
            var searchTimeout;
            
            $('#customerSearchInput').on('keyup', function() {
                clearTimeout(searchTimeout);
                var searchTerm = $(this).val();
                
                if (searchTerm.length < 2) {
                    $('#customerSearchResults').html('');
                    return;
                }
                
                searchTimeout = setTimeout(function() {
                    $.get('/Siparis/SearchCustomers', { term: searchTerm }, function(data) {
                        var html = '<div class="list-group">';
                        data.forEach(function(customer) {
                            html += '<button type="button" class="list-group-item list-group-item-action" ' +
                                   'data-customer-id="' + customer.id + '" ' +
                                   'data-customer-name="' + customer.text + '">' +
                                   customer.text +
                                   '</button>';
                        });
                        html += '</div>';
                        $('#customerSearchResults').html(html);
                    });
                }, 300);
            });
            
            $(document).on('click', '#customerSearchResults .list-group-item', function() {
                var customerId = $(this).data('customer-id');
                $('#MusteriID').val(customerId);
                $('#customerSearchModal').modal('hide');
            });
        });
    </script>
}

@using (Html.BeginForm("Create", "Siparis", FormMethod.Post))
{

<div class="form-group">
    @Html.LabelFor(model => model.MusteriID, "Muşteri ID Giriniz")
    <div class="input-group">
        @Html.TextBoxFor(model => model.MusteriID, new { @class = "form-control p-2", @readonly = "readonly" })
        <div class="input-group-append">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#customerSearchModal">
                <i class="fa fa-search"></i> Müşteri Ara
            </button>
        </div>
    </div>
    @Html.ValidationMessageFor(model => model.MusteriID)

    <!-- Modal -->
    <div class="modal fade" id="customerSearchModal" tabindex="-1" aria-labelledby="customerSearchModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="customerSearchModalLabel">Müşteri Ara</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input type="text" id="customerSearchInput" class="form-control" placeholder="Müşteri adı veya soyadı...">
                    </div>
                    <div id="customerSearchResults" class="mt-3">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="form-group">
    @Html.LabelFor(model => model.SiparisTanimi, "Sipariş Tanımı")
    @Html.TextBoxFor(model => model.SiparisTanimi, new { @class = "form-control p-2" })
    @Html.ValidationMessageFor(model => model.SiparisTanimi)
</div>


<div class="form-group">
    @Html.LabelFor(model => model.UrunKategoriID)
    @Html.DropDownListFor(model => model.UrunKategoriID, ViewBag.Kategoriler as List<SelectListItem>, "Seçiniz", new { @class = "form-control" })
    @Html.ValidationMessageFor(model => model.UrunKategoriID)
    @Html.ValidationMessageFor(model => model.UrunKategoriID)
</div>

<div class="form-group">
    @Html.LabelFor(model => model.BirimFiyat, "Birim Fiyat")
    @Html.TextBoxFor(model => model.BirimFiyat, new { @class = "form-control p-2", type = "number", step = "0.01" })
    @Html.ValidationMessageFor(model => model.BirimFiyat)
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Birim, "Birim")
    @Html.TextBoxFor(model => model.Birim, new { @class = "form-control p-2", type = "number", step = "0.01" })
    @Html.ValidationMessageFor(model => model.Birim)
</div>


    <div class="form-group">
        @Html.LabelFor(model => model.OdemeTurID)
        @Html.DropDownListFor(model => model.OdemeTurID, ViewBag.OdemeTurler as List<SelectListItem>, "Seçiniz", new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.OdemeTurID)
    </div>


    <button type="submit" class="btn btn-primary">Oluştur</button>


}

